<div class="container-fluid">
    <div header></div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="game-account">
            <div class="hidden-xs row">
                <div class="col-md-12 header">
                    <span>Cuenta de Juego</span>
                </div>
            </div>
            <div class="row body">
                <div submenu></div>
                <div class="col-md-12 header">
                    <div class="row">
                        <div class="col-md-12">
                            <span>Cambiar contraseña</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 detail">
                    <div class="row">
                        <div class="col-md-10">
                            <div class="row">
                                <div class="col-md-6">
                                    <h4>Cambiar contraseña</h4>
                                    <p>Esta funcionalidad le permite cambiar su contraseña</p>
                                </div>
                                <div class="col-md-6">
                                    <div class="row">
                                        <div growl reference="1" inline="true" class="col-md-12"></div>
                                        <form name="changePwdForm" ng-submit="changePassword.submit()">
                                            <div class="col-md-12 form-group"
                                                 ng-class="( changePwdForm.current.$dirty ? (changePwdForm.current.$valid ? 'has-success has-feedback' : 'has-error has-feedback' ) : ' ')">
                                                <label for="inputCurrentPassword">Contraseña Actual:</label>
                                                <input type="password" name="current" ng-model="changePassword.current"
                                                       class="form-control" id="inputCurrentPassword"
                                                       placeholder="Contraseña Actual" required>
                                                <error-messages name="changePwdForm.current"></error-messages>
                                            </div>
                                            <div class="col-md-12 form-group"
                                                 ng-class="( changePwdForm.new.$dirty ? (changePwdForm.new.$valid ? 'has-success has-feedback' : 'has-error has-feedback' ) : ' ')">
                                                <label for="inputNewPassword">Nueva Contraseña:</label>
                                                <input type="password" name="new" ng-model="changePassword.new"
                                                       class="form-control" id="inputNewPassword"
                                                       placeholder="Nueva Contraseña" required>
                                                <error-messages name="changePwdForm.new"></error-messages>
                                            </div>
                                            <div class="col-md-12 form-group"
                                                 ng-class="( changePwdForm.confirm.$dirty ? (changePwdForm.confirm.$valid ? 'has-success has-feedback' : 'has-error has-feedback' ) : ' ')">
                                                <label for="inputConfirmPassword">Confirmar Contraseña:</label>
                                                <input type="password" name="confirm" ng-model="changePassword.confirm"
                                                       class="form-control" id="inputConfirmPassword"
                                                       placeholder="Confirmar Contraseña" equal="changePassword.new"
                                                       required>
                                                <error-messages name="changePwdForm.confirm"></error-messages>
                                            </div>
                                            <div class="form-group col-md-12">
                                                <button type="submit" class="btn btn-wplay"
                                                        ng-disabled="!changePwdForm.$valid">Enviar
                                                </button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div footer></div>
