<div ng-class="bet.loading ? 'has-loading': ''" class="animation-container" id="pageloader">
    <div>
        <div>
            <img src="app/img/common/main-index-spinner.gif" alt="">
        </div>
        <div class="loader"></div>
        <p>Cargando...</p>
    </div>
</div>
<div class="container-fluid">
    <div header></div>
</div>
<div class="container-fluid content">
    <div id="BIA_client_container" style='margin-bottom: 60px'/>
</div>
<!--<h1>{{ $ctrl.hello }}</h1>-->
<div footer></div>
