<div class="container-fluid">
    <div header></div>
    <div class="row">
        <iframe frameborder="0" src="https://chatserver.comm100.com/chatwindow.aspx?embeddedwindow=1&amp;planId=47&amp;siteId=223545&amp;dynamic=false&amp;visitorId=37&amp;visitorGuid=a918304b2f5d495abd5e2a5bbe23c9d3&amp;pageTitle=WPlay&amp;pageUrl=https%3A%2F%2Fwplay.co%2Fcontacto&amp;newurl=1&amp;r=8&amp;embInv=0&amp;dirChat=0&amp;guid=&amp;chatGroup=" style="height: 500px; width: 400px;margin-left: 35%"></iframe>
    </div>
    <!--<iframe frameborder="0" src="https://chatserver.comm100.com/chatwindow.aspx?embeddedwindow=1&amp;planId=47&amp;siteId=223545&amp;dynamic=false&amp;visitorId=-695&amp;visitorGuid=a918304b2f5d495abd5e2a5bbe23c9d3&amp;pageTitle=WPlay&amp;pageUrl=https%3A%2F%2Fwplay.co%2F&amp;newurl=1&amp;r=7&amp;embInv=0&amp;dirChat=0&amp;guid=&amp;chatGroup=" style="height: 490px; width: 30%; margin-left: 35%"></iframe>-->
    <!--</div>
    <div class="container-fluid">
      <div class="row">
        <div class="contact">
          <div class="hidden-xs row">
            <div class="col-md-12 header">
              <span>Contacto</span>
            </div>
          </div>
          <div class="row body">
            <div class="col-md-12">
              <h4>Datos básicos para el contacto</h4>
              <span>Llene el siguiente formulario nuestros operadores le responderán a la mayor brevedad posible</span>
            </div>
            <div class="col-md-7 detail">
              <div class="row">
                <div class="col-md-12">
                  <div growl reference="1" inline="true" class="row"></div>
                  <div class="row">
                    <form name="contactForm" ng-submit="contact.submit(contactForm,form)">
                      <div class="col-md-6">
                        <div class="row">
                          <div ng-class="( contactForm.subject.$dirty ? (contactForm.subject.$valid ? 'has-success has-feedback' : 'has-error has-feedback' ) : ' ')" class="col-md-12 form-group">
                            <label for="inputAbout">Tema:</label>
                            <select class="form-control" id="inputSubject" name="subject" ng-model="form.subject" ng-options="subject as subject.option for subject in contact.subjects" required>
                              <option value=""> &#45;&#45; Seleccione un Tema &#45;&#45;</option>
                              </select>
                          </div>
                          <div class="col-md-12 form-group" ng-class="( contactForm.fullName.$dirty ? (contactForm.fullName.$valid ? 'has-success has-feedback' : 'has-error has-feedback' ) : ' ')">
                            <label for="inputName">Nombre completo:</label>
                            <input type="text" class="form-control" id="inputName" name="fullName" placeholder="Nombre" ng-minlength='4' ng-maxlength='50' ng-model="form.fullName" required>
                            <error-messages name="contactForm.fullName"></error-messages>
                          </div>
                          <div class="col-md-12 form-group" ng-class="( contactForm.email.$dirty ? (contactForm.email.$valid ? 'has-success has-feedback' : 'has-error has-feedback' ) : ' ')">
                            <label for="inputEmail">Correo electrónico:</label>
                            <input type="email" class="form-control" id="inputEmail" name="email" placeholder="Email" ng-model="form.email" required>
                            <error-messages name="contactForm.email"></error-messages>
                          </div>
                          <div class="col-md-12 form-group">
                            <label for="inputPhone">Teléfono(opcional):</label>
                            <input type="number" class="form-control" ng-model="form.phone" id="inputPhone" placeholder="Teléfono">
                          </div>
                          <div class="form-group col-md-12">
                            <div vc-recaptcha theme="light" ng-model="form.captcha" key="contact.model.key" on-create="contact.setWidgetId(widgetId)" on-success="contact.setResponse(response)" on-expire="contact.cbExpiration()" lang="es"></div>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="row">
                          <div class="col-md-12 form-group" ng-class="( contactForm.body.$dirty ? (contactForm.body.$valid ? 'has-success has-feedback' : 'has-error has-feedback' ) : ' ')">
                            <label for="inputMessage">Texto del mensaje:</label>
                            <textarea id="inputMessage" name="body" ng-model="form.body" ng-minlength='10' class="form-control" rows="9" required></textarea>

                            <error-messages name="contactForm.body"></error-messages>

                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-12 social-network">
                            <a href="#">
                              <img src="app/img/icon-phone.png" alt=""> 01800-7451212
                            </a>
                            &lt;!&ndash;  <a href="#">
                              <img src="app/img/icon-email.png" alt=""> contacto@wplay.com
                            </a>&ndash;&gt;
                            <a href="#">
                              <img src="app/img/icon-fb.png" alt=""> wplay/facebook
                            </a>
                            <a href="#">
                              <img src="app/img/icon-twitter.png" alt=""> @wplay
                            </a>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-12">
                        <div class="row">
                          <div class="form-group col-md-6">
                            <button type="submit" class="btn btn-block btn-wplay" ng-disabled="!contactForm.$valid">Enviar</button>
                          </div>
                        </div>
                      </div>

                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>-->
    <div footer></div>
</div>
