<div class="footer">
    <div class="row">

        <div class="col text-center">
            <div class="row redes-sociales" style="">
                <span class="title">Síguenos en nuestras redes</span>
                <span class="icon-social">
                    <a href="https://www.facebook.com/wplay.co/" target="_blank">
                        <img src="app/img/mail/fb.png" alt="" width="40px" height="40px"></a>
                </span>
                <span class="icon-social">
                    <a href="https://twitter.com/wplaycolombia" target="_blank">
                        <img src="app/img/mail/tw.png" alt="" width="40px" height="40px">
                    </a>
                </span>
                <span class="icon-social">
                    <a href="https://www.instagram.com/wplay.co/" target="_blank">
                        <img src="app/img/mail/ins.png" alt="" width="40px" height="40px">
                    </a>
                </span>
                <span class="icon-social">
                    <a href="https://www.youtube.com/channel/UCJpZFaxwNYsHpZSa1dATlJQ" target="_blank">
                        <img src="app/img/mail/yt.png" alt="" width="40px">
                    </a>
                </span>
            </div>

            <div class="row">
                <ul class="menu-ft-min-max">
                    <li>
                        <a href="info/terminos-condiciones">Terminos y condiciones</a>
                        <a href="/trabaje-nosotros">Trabaja con nosotros</a>
                        <a href="/info/preguntas-frecuentes">Preguntas frecuentes</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2 col-xs-12 col-sm-2">
            <div class="icon-18"></div>
        </div>
        <div class="col-md-8 col-xs-12 col-sm-8">
            <div class="row copyright text-center ft-copyright-min-max">
                <div class="col">
                    <span>

                    </span>
                </div>
            </div>
            <div class="row copyright text-center ft-copyright-min-max">
                <span style="text-align: justify; font-size: 12px">Wplay.co propiedad de AQUILA GLOBAL GROUP S.A.S, sociedad comercial, con Nit. Número 901001374-2, con domicilio principal en la ciudad de Medellín - Colombia, Carrera 48 # 10 45 Oficina 1027 Centro comercial Monterrey. Autorizada en Colombia para operar los juegos de suerte y azar en la modalidad novedoso de tipo juegos operados por internet, según Contrato de Concesión No. C1422 del 28 de junio del 2017 con vencimiento en Julio 2020 suscrito con COLJUEGOS, asignado al dominio del sitio web <a
                        href="http://www.wplay.co">www.wplay.co</a>, luego de haber cumplido con todos los requisitos y condiciones jurídico legales, financieras, técnicos y tecnológicos y garantías exigidas para la cobertura del pago de premios y devolución de fondos de los jugadores, demostrando principios de transparencia en la operación de juegos en la jurisdicción colombiana.</span>
            </div>
        </div>
        <div class="col-md-2 col-xs-12 col-sm-2">
            <!--<div class="logo"></div>-->
            <a href="http://www.coljuegos.gov.co/" target="_blank" class="coljuegos"></a>

        </div>
    </div>
    <!--
    <div class="row">
        <div class="col hidden-xs col-sm-6 col-md-2">
            <a class="onlineHelp"></a>
        </div>
        <div class="col col-xs-12 col-sm-12 col-md-2">
            <div class="row">
                <a href="http://www.coljuegos.gov.co/" target="_blank" class="coljuegos"></a>
            </div>
            <div class="row">
                <div class="col col-md-6"></div>
                <div class="col col-md-6"></div>
            </div>
        </div>

    </div>
-->

</div>
