<div class="container-fluid">
    <div header></div>
</div>
<div class="row" style="background: #191A1E; padding-top: 10px">
    <div class="col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2">
        <div class="container-fluid map">
            <div style="margin-bottom: 80px" class="row" map-lazy-load="https://maps.google.com/maps/api/js"
                 map-lazy-load-params="{{location.googleMapsUrl}}">
                <ng-map id="mainMap" center="[4.80,-75.56]" zoom=6 default-style="false"
                        style="width: 100%; height: 700px;">
                    <marker ng-repeat="p in location.game" position="{{p.pos}}"
                            title="Nombre: {{p.des}}&#10;Dirección: {{p.direccion}}&#10;Teléfono: {{p.telefono}}&#10;Barrio: {{p.Barrio}}"
                            animation="Animation.DROP" icon="app/img/location/icon_game.png" on-click="location.showDetail(p)"></marker>
                </ng-map>
            </div>
        </div>
    </div>
</div>
<!--<h1>{{ $ctrl.hello }}</h1>-->
<div footer></div>