<div class="row">
    <div class="col-md-12">
        <h4>Iniciar sesión</h4>
    </div>
    <div growl reference="1" inline="true" class="col-md-12"></div>
    <form validate name="loginForm" ng-submit="login.submit(user)">
        <div class="form-group col-md-12">
            <label for="inputFirstName">Usuario:</label>
            <input type="email" class="form-control" id="inputEmail" ng-model="user.usuario" placeholder="Usuario" required>
        </div>
        <div class="form-group col-md-12">
            <label for="inputFirstName">Clave:</label>
            <input type="{{login.inputType}}" class="form-control" id="inputPassword" ng-model="user.clave" placeholder="Contraseña" required>
        </div>
        <div class="col-md-6">
            <label>
       <input type="checkbox"> Recordarme
      </label>
        </div>
        <div class="col-md-6">
            <label>
       <input type="checkbox" ng-model="login.passwordCb" ng-click="login.showPassword()"> Ver contraseña
      </label>
        </div>
        <div class="form-group col-md-12">
            <button type="submit" ng-disabled="!loginForm.$valid" class="btn btn-block btn-wplay">Login</button>
        </div>

    </form>
    <!--<div class="form-group col-md-12">
        <a ng-click="login.register()" class="btn btn-block btn-wplay-alt">Registro</a>
    </div>-->

    <div class="form-group col-md-12 text-center">
    <a ng-click="login.forgetPassword()">¿Olvidó su contraseña?</a>
  </div>
</div>
