<div class="container-fluid">
    <div header></div>
</div>
<div class="container-fluid">
    <div class="ow">
        <div class="game-info">
            <div class="hidden-xs row" >
                <div class="col-md-12 header">
                    <span>Consultas</span>
                </div>
            </div>
            
            <div class="row body">
                <div submenu-info></div>
                <div class="col-md-12 header" style="width: 105%; margin: 0 -28px">
                    <div class="row">
                        <div class="col-md-12">
                            <span>Ticketes</span>
                        </div>
                    </div>
                </div>

                <div class="col-md-12" style="padding: 0; margin: 0 0 30px 0">
                    <div class="embed-container" onload="getTickets.css">
                        <iframe src="{{getTickets.source}}" id="iframe-betlist"
                                style="background: rgba(255,255,255,0.5); width: 105%; height: 400px; margin: 0 -28px" frameborder="0" allowfullscreen></iframe>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<div footer></div>
